html.noscroll {
  overflow-y: hidden;
  height: 100%;
}

html.noscroll body {
  overflow: hidden;
}

html.has-scrollbar {
  overflow-y: scroll;
}

.overlay {
  position: fixed;
  z-index: 99;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: opacity var(--overlay-transition-duration, 0.5s) var(--overlay-transition-timing-function, ease);
  background-color: var(--overlay-background-color, #000000);

  &_visible {
    opacity: var(--overlay-opacity, 0.5);
  }
}