.modal {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  overflow: auto;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
  -webkit-overflow-scrolling: touch;

  &_active {
    display: flex;
  }

  &_visible {
    --modal__body--opacity: 1;
  }
}

.modal__body {
  max-width: 100%;
  transition-timing-function: var(--modal__body--transition-timing-function, ease);
  transition-duration: var(--modal__body--transition-duration, 0.5s);
  transition-property: opacity;
  opacity: var(--modal__body--opacity, 0);
}
